<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstjob"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
    <!-- 调用相机和相册权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myfirstjob.Login"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myfirstjob.Register" android:label="注册" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.example.myfirstjob.FrameActivity" android:label="主界面"></activity>
        <activity android:name=".IndiActivity" android:label="@string/Indi"/>
        <activity android:name=".Recruit" android:theme="@android:style/Theme.NoTitleBar" android:label="招聘"/>
        <activity android:name="com.example.myfirstjob.RecruitDetails" android:theme="@android:style/Theme.NoTitleBar" android:label="招聘详情"/>
        <activity android:name=".ExperActivity" android:label="@string/exper"/>
        <activity android:name=".ExperDetail" android:label="@string/experdetail"/>
        <activity android:name=".InforActivity" android:label="@string/infor"/>
        <activity android:name=".AboutUS" android:label="@string/about"/>
        <activity android:name="com.example.myfirstjob.CreateQuest" android:label="提问"/>
        <activity android:name=".QuestActivity" android:label="@string/quest"/>
        <activity android:name=".QuestDetail" android:label="@string/questdetail"/>
        <activity android:name="com.example.myfirstjob.Answer" android:theme="@android:style/Theme.NoTitleBar" android:label="回答"/>
        <activity android:name="com.example.myfirstjob.PersionIfo" android:theme="@android:style/Theme.NoTitleBar" android:label="个人信息"/>
        <activity android:name="com.example.myfirstjob.MyCollection" android:theme="@android:style/Theme.NoTitleBar" android:label="我的收藏"/>
        <activity android:name="com.example.myfirstjob.MyAttention" android:theme="@android:style/Theme.NoTitleBar" android:label="我的关注"/>
        <activity android:name="com.example.myfirstjob.Camera"  android:theme="@android:style/Theme.Holo.Dialog" android:label="拍照"/>
        <activity android:name="com.example.myfirstjob.Feedback" android:theme="@android:style/Theme.NoTitleBar" android:label="用户反馈"/>
        <activity android:name="com.example.myfirstjob.Experience" android:theme="@android:style/Theme.NoTitleBar" android:label="经验"/>
   
    </application>

</manifest>
